body {
  font-family: Bai Jamjuree;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Khand', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #161734 !important;
}
.bg-success {
  background-color: #161734 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #bbbbbb !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #161734 !important;
  border-color: #161734 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #161734 !important;
  border-color: #161734 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  position: relative;
  z-index: 1;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #161734;
  color: #161734;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #161734 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #161734;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #161734 !important;
  border-color: #161734 !important;
}
.btn-primary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #161734;
  z-index: -1;
}
.btn-primary-outline:hover {
  color: #ffffff !important;
}
.btn-primary-outline:hover:after {
  width: 100%;
}
.btn-secondary-outline {
  position: relative;
  z-index: 1;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
  color: #004cd5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #004cd5 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
}
.btn-secondary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #004cd5;
  z-index: -1;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-secondary-outline:hover:after {
  width: 100%;
}
.btn-info-outline {
  position: relative;
  z-index: 1;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #47b5ed !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-info-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #47b5ed;
  z-index: -1;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline:hover:after {
  width: 100%;
}
.btn-success-outline {
  position: relative;
  z-index: 1;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #161734;
  color: #161734;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #161734 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #161734;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #161734 !important;
  border-color: #161734 !important;
}
.btn-success-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #161734;
  z-index: -1;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline:hover:after {
  width: 100%;
}
.btn-warning-outline {
  position: relative;
  z-index: 1;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #bbbbbb;
  color: #bbbbbb;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #bbbbbb !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #bbbbbb;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-warning-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #bbbbbb;
  z-index: -1;
}
.btn-warning-outline:hover {
  color: #000000 !important;
}
.btn-warning-outline:hover:after {
  width: 100%;
}
.btn-danger-outline {
  position: relative;
  z-index: 1;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff9966 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #ff9966;
  z-index: -1;
}
.btn-danger-outline:hover {
  color: #000000 !important;
}
.btn-danger-outline:hover:after {
  width: 100%;
}
.btn-black-outline {
  position: relative;
  z-index: 1;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #232323 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #232323;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #232323;
  z-index: -1;
}
.btn-black-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline:hover:after {
  width: 100%;
}
.btn-white-outline {
  position: relative;
  z-index: 1;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fafafa !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #fafafa;
  z-index: -1;
}
.btn-white-outline:hover {
  color: #000000 !important;
}
.btn-white-outline:hover:after {
  width: 100%;
}
.text-primary {
  color: #161734 !important;
}
.text-secondary {
  color: #004cd5 !important;
}
.text-success {
  color: #161734 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #bbbbbb !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #161734 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #004cd5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #161734 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #47b5ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bbbbbb !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff9966 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #161734;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #bbbbbb;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #161734;
  border-color: #161734;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #161734;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6e71c2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #6e71c2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #161734 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #161734;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #161734;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #161734;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #161734;
  border-bottom-color: #161734;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #161734 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #004cd5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23161734' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.image-wrapper {
  color: #161734;
}
.animate__fadeInUp {
  animation-name: none;
  position: relative;
}
.animate__fadeInUp:before {
  position: absolute;
  top: -1px;
  right: -1px;
  left: auto;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  content: '';
  background: white;
  animation: box1 1s forwards;
  animation-delay: 0.5s;
  z-index: 2;
}
.animate__fadeInUp:after {
  position: absolute;
  top: -1px;
  left: -1px;
  right: auto;
  width: 0%;
  height: calc(100% + 2px);
  content: '';
  background: currentColor;
  animation: box2 1s forwards;
  animation-delay: 0.5s;
  z-index: 3;
}
@keyframes box1 {
  to {
    width: 0%;
  }
}
@keyframes box2 {
  0% {
    width: 0%;
    left: 0;
    right: auto;
  }
  49% {
    width: calc(100% + 2px);
    left: 0;
    right: auto;
  }
  51% {
    width: calc(100% + 2px);
    left: auto;
    right: 0;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
.cid-sShRtVOMe6 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  color: #6ec7f2;
  top: 50%;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateY(-50%) scale(0, 1);
  transform: translateY(-50%) scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sShRtVOMe6 .nav-item,
.cid-sShRtVOMe6 .nav-link,
.cid-sShRtVOMe6 .navbar-caption {
  font-weight: normal;
}
.cid-sShRtVOMe6 .nav-item:focus,
.cid-sShRtVOMe6 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sShRtVOMe6 .dropdown-item:hover:before {
    -webkit-transform: translateY(-50%) scale(1, 1);
    transform: translateY(-50%) scale(1, 1);
    width: 1rem;
  }
  .cid-sShRtVOMe6 .nav-item .nav-link {
    position: relative;
  }
  .cid-sShRtVOMe6 .nav-item .nav-link:before {
    content: '';
    position: absolute;
    z-index: 3;
    left: 0;
    right: 100%;
    bottom: -0.2em;
    background: #6ec7f2;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .cid-sShRtVOMe6 .nav-item:hover .nav-link:before,
  .cid-sShRtVOMe6 .nav-item.open .nav-link:before {
    right: 0;
  }
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 1rem;
  padding-left: 3rem;
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sShRtVOMe6 .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sShRtVOMe6 .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #161734;
  background: none;
}
.cid-sShRtVOMe6 .navbar.opened {
  transition: all 0.3s;
  background: #161734 !important;
}
.cid-sShRtVOMe6 .navbar .dropdown-item {
  padding: 0.235rem 2rem;
}
.cid-sShRtVOMe6 .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-sShRtVOMe6 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sShRtVOMe6 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sShRtVOMe6 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sShRtVOMe6 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sShRtVOMe6 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sShRtVOMe6 .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sShRtVOMe6 .navbar .navbar-logo img {
    height: 3.8rem !important;
    width: auto;
  }
  .cid-sShRtVOMe6 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sShRtVOMe6 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sShRtVOMe6 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sShRtVOMe6 .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sShRtVOMe6 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sShRtVOMe6 .navbar.navbar-short {
  background: #161734 !important;
  min-height: 60px;
}
.cid-sShRtVOMe6 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-sShRtVOMe6 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sShRtVOMe6 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sShRtVOMe6 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sShRtVOMe6 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sShRtVOMe6 .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-sShRtVOMe6 .dropdown-item.active,
.cid-sShRtVOMe6 .dropdown-item:active {
  background-color: transparent;
}
.cid-sShRtVOMe6 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sShRtVOMe6 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sShRtVOMe6 .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sShRtVOMe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #161734;
  z-index: 2;
}
.cid-sShRtVOMe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sShRtVOMe6 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sShRtVOMe6 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sShRtVOMe6 .navbar-buttons {
  text-align: center;
}
.cid-sShRtVOMe6 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sShRtVOMe6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sShRtVOMe6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sShRtVOMe6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sShRtVOMe6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sShRtVOMe6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sShRtVOMe6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sShRtVOMe6 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sShRtVOMe6 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sShRtVOMe6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sShRtVOMe6 .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sShRtVOMe6 a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sShRtVOMe6 .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #004cd5;
  display: inline-flex;
}
.cid-sShRtVOMe6 .soc-item .mbr-iconfont:before {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-sShRtVOMe6 .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-sShRtVOMe6 .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sShRtVOMe6 a.nav-link .mbr-iconfont-btn,
.cid-sShRtVOMe6 a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-sShRtVOMe6 a.nav-link:hover .mbr-iconfont-btn,
.cid-sShRtVOMe6 a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-sShRtVOMe6 a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sShRtVOMe6 .navbar {
    height: 77px;
  }
  .cid-sShRtVOMe6 .navbar.opened {
    height: auto;
  }
  .cid-sShRtVOMe6 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sShRSD247r {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/34578-1920x1200.jpg");
}
@media (max-width: 767px) {
  .cid-sShRSD247r {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.cid-sShRSD247r .nav-link {
  font-weight: 900;
}
.cid-sShRSD247r .nav-item:not(:first-child)::before {
  background: #004cd5;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sShRSD247r .navbar-nav {
  display: block;
}
.cid-sShRSD247r .navbar-nav li {
  display: inline-block;
}
.cid-sShRSD247r li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sShRSD247r .navbar-nav,
.cid-sShRSD247r .mbr-section-title {
  color: #ffffff;
}
.cid-sSihH8ykDQ {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sSihH8ykDQ .mbr-text {
  position: relative;
  color: #161734;
}
.cid-sSihH8ykDQ .mbr-text:before {
  color: #333333;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-sSihH8ykDQ img {
  object-fit: contain;
}
.cid-sSihH8ykDQ .mbr-text:after {
  color: #333333;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-sSihH8ykDQ .mbr-text:after,
  .cid-sSihH8ykDQ .mbr-text:before {
    display: none;
  }
}
.cid-sSihH8ykDQ .mbr-section-title,
.cid-sSihH8ykDQ .logo {
  color: #004cd5;
}
.cid-sSigXVBSj5 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/macro-wallpaper-21010822033242-scaled-2000x1250.jpg");
}
.cid-sSigXVBSj5 .card-wrapper {
  z-index: 3;
}
.cid-sSigXVBSj5 .card-wrapper .mbr-section-title {
  letter-spacing: 1px;
  transition: all 2.5s cubic-bezier(0, 0.74, 0.52, 1.2);
}
.cid-sSigXVBSj5:hover .mbr-section-title {
  letter-spacing: 10px;
}
.cid-sSigXVBSj5 .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-sSigXVBSj5 .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-sSimvGpJaT {
  background-image: url("../../../assets/images/mecanica-industrial-1600x900.jpeg");
}
.cid-sSimvGpJaT .column-content {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #9fdbf8;
  width: 100%;
  float: right;
  position: relative;
}
.cid-sSimvGpJaT .text-content .btn-bgr {
  z-index: 0;
}
.cid-sSimvGpJaT .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-sSimvGpJaT .container-full-width {
  position: relative;
}
.cid-sSimvGpJaT .text-content {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cid-sSimvGpJaT .layer {
  display: none;
  height: 101%;
  position: absolute;
  right: 49.9%;
  top: 0;
  bottom: 0;
}
.cid-sSimvGpJaT .layer path {
  fill: #9fdbf8;
}
@media (min-width: 576px) {
  .cid-sSimvGpJaT .text-content {
    width: 540px;
  }
  .cid-sSimvGpJaT .column-content {
    width: 100%;
  }
  .cid-sSimvGpJaT .layer {
    display: none;
  }
}
@media (min-width: 768px) {
  .cid-sSimvGpJaT .text-content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .cid-sSimvGpJaT .text-content {
    width: 480px;
    margin: 0;
  }
  .cid-sSimvGpJaT .column-content {
    width: 50%;
  }
  .cid-sSimvGpJaT .layer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .cid-sSimvGpJaT .text-content {
    width: 570px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sSimvGpJaT .container-full-width .layer {
    right: 2.6rem;
    height: 33rem;
  }
  .cid-sSimvGpJaT .column-content {
    height: 33rem;
  }
}
.cid-sSimvGpJaT H1 {
  color: #004cd5;
}
.cid-sSintVT93d {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-sSintVT93d h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sSintVT93d .mbr-section-subtitle {
  color: #767676;
}
.cid-sSintVT93d .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-sSintVT93d .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-sSintVT93d .article-title-left {
  color: #004cd5;
}
.cid-sSintVT93d .article-title-right {
  color: #004cd5;
}
.cid-sSintVT93d .mbr-text-right {
  color: #161734;
}
.cid-sSintVT93d .mbr-text-left {
  color: #161734;
}
.cid-sTvVsqtAoO {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #eae8e4;
}
.cid-sTvVsqtAoO .mbr-section-head,
.cid-sTvVsqtAoO .gallery_item {
  margin-bottom: 6rem;
}
.cid-sTvVsqtAoO .mbr-section-subtitle {
  margin-bottom: 0.5rem;
}
.cid-sTvVsqtAoO .mbr-section-title {
  line-height: .95;
}
.cid-sTvVsqtAoO .box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cid-sTvVsqtAoO .gallery-wrap-left {
  padding-right: 2rem;
  max-width: 66%;
  width: 66%;
}
.cid-sTvVsqtAoO .gallery-wrap-right {
  padding-left: 2rem;
  max-width: 33%;
  width: 33%;
}
.cid-sTvVsqtAoO .item-img,
.cid-sTvVsqtAoO img {
  max-width: 100%;
  object-fit: cover;
}
.cid-sTvVsqtAoO .gallery-wrap-50 .item_left {
  padding-right: 1rem;
}
.cid-sTvVsqtAoO .gallery-wrap-50 .item_right {
  padding-left: 1rem;
}
.cid-sTvVsqtAoO .item-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}
.cid-sTvVsqtAoO .item-title {
  text-align: left;
  flex: 1 1 0;
}
.cid-sTvVsqtAoO .item-subtitle {
  text-align: right;
  flex: 1 1 0;
}
@media (max-width: 991px) {
  .cid-sTvVsqtAoO .gallery-wrap-left {
    padding-right: 0;
    max-width: 100%;
    width: 100%;
  }
  .cid-sTvVsqtAoO .gallery-wrap-right {
    padding-left: 0;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-sTvVsqtAoO .mbr-section-head,
  .cid-sTvVsqtAoO .gallery_item {
    margin-bottom: 3rem;
  }
  .cid-sTvVsqtAoO .gallery-wrap-50 .item_left {
    padding-right: 0;
  }
  .cid-sTvVsqtAoO .gallery-wrap-50 .item_right {
    padding-left: 0;
  }
}
.cid-sSiyD22M5X {
  padding-top: 45px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/4k-metallic-textures-metal-plate-square-metal-plates-metal-textures-2000x1250.jpg");
}
.cid-sSiyD22M5X h4 {
  letter-spacing: -0.5px;
  color: #130947;
  font-weight: 800;
}
.cid-sSiyD22M5X p {
  color: #6d7a8c;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
}
.cid-sSiyD22M5X .mbr-section-title {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
}
.cid-sSiyD22M5X .mbr-section-title.display-2 {
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: -0.5px;
}
.cid-sSiyD22M5X .mbr-section-subtitle {
  color: #4f87fb;
  margin-bottom: 10px;
  font-weight: 800;
}
.cid-sSiyD22M5X .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 2px;
}
.cid-sSiyD22M5X .card-box {
  padding-top: 35px;
}
.cid-sSiyD22M5X .card-box .card-title {
  text-align: center;
  color: #130947;
}
.cid-sSiyD22M5X .card-box .card-title.display-7 {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  font-weight: 800;
}
.cid-sSiyD22M5X .card-box p {
  text-align: center;
  color: #6d7a8c;
  font-weight: 400;
}
.cid-sSiyD22M5X .card-box p.display-4 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-sSiyD22M5X .card-wrapper {
  height: 100%;
  text-align: center;
}
.cid-sSiyD22M5X .card-img {
  display: inline-block;
  position: relative;
  width: inherit !important;
}
.cid-sSiyD22M5X .card-img img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-sSiyD22M5X .card-img .card-icon {
  background: #4f87fb;
  color: #fff;
  height: 46px;
  width: 46px;
  font-size: 14px;
  line-height: 3.29;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  padding: 0.5rem;
  top: 6px;
  right: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.cid-sSiyD22M5X .card-img .card-icon span {
  z-index: 99;
}
.cid-sSiyD22M5X .card-img .card-icon::before {
  width: 56px;
  height: 56px;
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #4f87fb;
  opacity: 0.5;
  z-index: 1;
}
.cid-sSiyD22M5X .card-box .card-title {
  color: #8caff0;
}
.cid-sSiyD22M5X .mbr-text {
  color: #bbbbbb;
}
.cid-sSnRQbknfs {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sSnRQbknfs h2,
.cid-sSnRQbknfs h3,
.cid-sSnRQbknfs h4,
.cid-sSnRQbknfs h5 {
  margin: 0;
}
.cid-sSnRQbknfs .mbr-section-head {
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .cid-sSnRQbknfs .mbr-section-head {
    padding: 0 35px;
  }
}
.cid-sSnRQbknfs .mbr-section-title {
  color: #000000;
  text-align: center;
  margin: 0;
}
.cid-sSnRQbknfs .mbr-section-subtitle {
  color: #6b6b6b;
  text-align: center;
  margin: 0;
}
.cid-sSnRQbknfs .card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cid-sSnRQbknfs .card {
  width: 20%;
  padding: 0 15px;
  margin-bottom: 30px;
  transition: all 1s ease-out;
}
.cid-sSnRQbknfs .card:nth-child(2n + 1) {
  margin-top: 57px;
}
@media (max-width: 1024px) {
  .cid-sSnRQbknfs .card:nth-child(2n + 1) {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .cid-sSnRQbknfs .card {
    width: 50%;
  }
}
@media (max-width: 680px) {
  .cid-sSnRQbknfs .card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-sSnRQbknfs .image-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cid-sSnRQbknfs .image-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-out;
  --qodef-gradient-color-1: rgba(248, 117, 117, 0.8);
  --qodef-gradient-color-2: rgba(255, 160, 160, 0.44);
  --qodef-gradient-color-3: rgba(254, 216, 255, 0);
  --qodef-gradient-color-4: #b1d2fe;
  --qodef-gradient-color-5: rgba(230, 255, 250, 0);
  --qodef-gradient-color-6: #d8cafe;
  background: radial-gradient(105.68% 45.69% at 92.95% 50%, var(--qodef-gradient-color-1) 0, var(--qodef-gradient-color-2) 53.91%, var(--qodef-gradient-color-3) 100%), radial-gradient(103.18% 103.18% at 90.11% 102.39%, var(--qodef-gradient-color-4) 0, var(--qodef-gradient-color-5) 100%), radial-gradient(90.45% 90.45% at 87.84% 9.55%, var(--qodef-gradient-color-5) 0, rgba(254, 219, 246, 0) 100%), linear-gradient(135.66deg, var(--qodef-gradient-color-6) 14.89%, var(--qodef-gradient-color-6) 74.33%);
  z-index: 1;
  pointer-events: none;
}
.cid-sSnRQbknfs .image-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cid-sSnRQbknfs .card:hover {
  cursor: pointer;
}
.cid-sSnRQbknfs .card:hover .image-wrap::before {
  opacity: 0.7;
}
.cid-sSnRQbknfs .mbr-card-title {
  color: #000000;
  margin-top: 13px;
  margin-bottom: 4px;
}
.cid-sSnRQbknfs .mbr-card-subtitle {
  color: #6b6b6b;
  margin-top: -5px;
  margin-bottom: 14px;
}
.cid-sSnRQbknfs .item-caption {
  padding: 16px 0 8px;
  background: transparent;
}
.cid-sSnUzE3qZN {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sSnUzE3qZN h2,
.cid-sSnUzE3qZN h3,
.cid-sSnUzE3qZN h4,
.cid-sSnUzE3qZN h5 {
  margin: 0;
}
.cid-sSnUzE3qZN .mbr-section-head {
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .cid-sSnUzE3qZN .mbr-section-head {
    padding: 0 35px;
  }
}
.cid-sSnUzE3qZN .mbr-section-title {
  color: #000000;
  text-align: center;
  margin: 0;
}
.cid-sSnUzE3qZN .mbr-section-subtitle {
  color: #6b6b6b;
  text-align: center;
  margin: 0;
}
.cid-sSnUzE3qZN .card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cid-sSnUzE3qZN .card {
  width: 20%;
  padding: 0 15px;
  margin-bottom: 30px;
  transition: all 1s ease-out;
}
.cid-sSnUzE3qZN .card:nth-child(2n + 1) {
  margin-top: 57px;
}
@media (max-width: 1024px) {
  .cid-sSnUzE3qZN .card:nth-child(2n + 1) {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .cid-sSnUzE3qZN .card {
    width: 50%;
  }
}
@media (max-width: 680px) {
  .cid-sSnUzE3qZN .card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-sSnUzE3qZN .image-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cid-sSnUzE3qZN .image-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-out;
  --qodef-gradient-color-1: rgba(248, 117, 117, 0.8);
  --qodef-gradient-color-2: rgba(255, 160, 160, 0.44);
  --qodef-gradient-color-3: rgba(254, 216, 255, 0);
  --qodef-gradient-color-4: #b1d2fe;
  --qodef-gradient-color-5: rgba(230, 255, 250, 0);
  --qodef-gradient-color-6: #d8cafe;
  background: radial-gradient(105.68% 45.69% at 92.95% 50%, var(--qodef-gradient-color-1) 0, var(--qodef-gradient-color-2) 53.91%, var(--qodef-gradient-color-3) 100%), radial-gradient(103.18% 103.18% at 90.11% 102.39%, var(--qodef-gradient-color-4) 0, var(--qodef-gradient-color-5) 100%), radial-gradient(90.45% 90.45% at 87.84% 9.55%, var(--qodef-gradient-color-5) 0, rgba(254, 219, 246, 0) 100%), linear-gradient(135.66deg, var(--qodef-gradient-color-6) 14.89%, var(--qodef-gradient-color-6) 74.33%);
  z-index: 1;
  pointer-events: none;
}
.cid-sSnUzE3qZN .image-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cid-sSnUzE3qZN .card:hover {
  cursor: pointer;
}
.cid-sSnUzE3qZN .card:hover .image-wrap::before {
  opacity: 0.7;
}
.cid-sSnUzE3qZN .mbr-card-title {
  color: #000000;
  margin-top: 13px;
  margin-bottom: 4px;
}
.cid-sSnUzE3qZN .mbr-card-subtitle {
  color: #6b6b6b;
  margin-top: -5px;
  margin-bottom: 14px;
}
.cid-sSnUzE3qZN .item-caption {
  padding: 16px 0 8px;
  background: transparent;
}
.cid-sSnYPWBaFy {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.cid-sSnYPWBaFy .row {
  align-items: stretch;
  justify-content: center;
}
.cid-sSnYPWBaFy .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.cid-sSnYPWBaFy .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
  transition: all 1s;
}
.cid-sSnYPWBaFy .row .img-item img:hover {
  transform: scale(1.1);
}
.cid-sSkncdPxTD {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #004cd5;
}
.cid-sSkncdPxTD .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #004cd5, #161734);
}
.cid-sSkncdPxTD .mbr-text,
.cid-sSkncdPxTD .mbr-section-btn {
  color: #999999;
}
.cid-sSkncdPxTD .mbr-section-title,
.cid-sSkncdPxTD .title-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-sSnJUGmSJZ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/machine-factory-5120x2880-2000x1125.jpg");
}
.cid-sSnJUGmSJZ .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sSnJUGmSJZ .image-wrap img {
    display: block;
    margin: auto;
    width: 30%;
  }
}
.cid-sSiytFLuq7 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sSiytFLuq7 .container-boxes {
  padding-bottom: 0px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.cid-sSiytFLuq7 .col-lg-4 {
  padding: 0 !important;
}
.cid-sSiytFLuq7 .col-lg-4:nth-child(2) .box-item .wrap {
  background-color: #3b77f3;
}
.cid-sSiytFLuq7 .box-item {
  height: 100%;
}
.cid-sSiytFLuq7 .box-item .wrap {
  height: 100%;
  background-color: #4f87fb;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}
.cid-sSiytFLuq7 .box-item .headingicon .icon-block-top {
  width: 100%;
  font-size: 3.1375rem !important;
  margin-bottom: 15px;
}
.cid-sSiytFLuq7 .box-item .heading {
  width: 100%;
}
.cid-sSiytFLuq7 .box-item .heading .box-item-title {
  position: relative;
  font-weight: 700;
}
.cid-sSiytFLuq7 .box-item .heading .box-item-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 1px;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
}
.cid-sSiytFLuq7 .box-item .heading .box-item-title.display-7 {
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 1.4;
}
.cid-sSiytFLuq7 .box-item-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cid-sSiytFLuq7 .box-item-text.display-7 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-sSiytFLuq7 .left .wrap {
  border-radius: 4px 0 0 4px;
}
.cid-sSiytFLuq7 .right .wrap {
  border-radius: 0 4px 4px 0;
}
.cid-sSiytFLuq7 .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-sSiytFLuq7 .box-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 15px 0 15px;
  font-weight: 400;
  color: #ffffff;
}
.cid-sSiytFLuq7 .box-list li:last-child {
  border-bottom: none;
}
.cid-sSiytFLuq7 .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
  color: #ffffff;
}
.cid-sSiytFLuq7 .box-list li.display-7 {
  font-size: 14px;
  line-height: 1.71;
}
.cid-sSiytFLuq7 .box-list ul.display-7 {
  font-size: 14px;
  line-height: 1.71;
}
.cid-sSiytFLuq7 .mbr-section-btn .btn {
  border-radius: 4px;
  line-height: 1.3;
  padding: 12px 40px;
  margin-left: 0 !important;
  box-shadow: none;
  font-weight: 400;
}
@media (max-width: 991px) {
  .cid-sSiytFLuq7 .box-item {
    margin-top: 0;
    text-align: left !important;
  }
  .cid-sSiytFLuq7 .mbr-section-btn {
    text-align: left;
  }
  .cid-sSiytFLuq7 .left .wrap {
    border-radius: 4px 4px 0 0;
  }
  .cid-sSiytFLuq7 .right .wrap {
    border-radius: 0 0 4px 4px;
  }
}
.cid-sSiytFLuq7 .icon-block-top,
.cid-sSiytFLuq7 .box-item-title,
.cid-sSiytFLuq7 .icon-block-top {
  text-align: left;
}
.cid-sSiytFLuq7 .box-item-text,
.cid-sSiytFLuq7 .mbr-section-btn {
  text-align: center;
}
.cid-sSi7iRE02S {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../../../assets/images/34578-1920x1200.jpg");
}
.cid-sSi7iRE02S .google-map {
  height: 30rem;
  position: relative;
  border-radius: 30px;
}
.cid-sSi7iRE02S .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  opacity: 0.8;
  backdrop-filter: blur(3.5px);
}
.cid-sSi7iRE02S .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sSi7iRE02S .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sSi7iRE02S .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sSi7iRE02S .mbr-section-title {
  color: #263d5a;
}
.cid-sSktNnu1ju {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sSktNnu1ju .mbr-text {
  color: #1d2c35;
}
.cid-sSktNnu1ju .mbr-section-btn {
  color: #1d2c35;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}
.cid-sSktNnu1ju .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-sSktNnu1ju .mbr-text,
  .cid-sSktNnu1ju .mbr-section-title {
    text-align: center;
  }
}
.cid-sSktNnu1ju .label {
  margin-bottom: 0;
  padding: 0.375rem 0.75rem;
  padding-bottom: 0;
}
.cid-sSktNnu1ju .last {
  margin-bottom: 49px!important;
}
.cid-sSktNnu1ju a.btn {
  height: 100%;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-sSktNnu1ju .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sSktNnu1ju .content-wrapper {
    flex-direction: column;
  }
}
.cid-sSktNnu1ju .form-control {
  line-height: 1.25rem !important;
}
.cid-sSktNnu1ju .content-wrapper {
  align-items: start;
}
.cid-sSktNnu1ju .column2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-sSktNnu1ju .mbr-section-title {
  color: #161734;
}
.cid-sSiwPDJWNY {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #161734;
}
.cid-sSiwPDJWNY .mbr-text {
  color: #6ec7f2;
}
.cid-sSiwPDJWNY .line {
  height: 1px;
  width: 100%;
  background-color: #c2c2c2;
  margin-bottom: 32px;
}
